# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: 'windows-latest'

steps:
- script: echo Triggering staging deployment of JSON-SCHEMAS in github, this copy files to staging blob storage!
  displayName: 'Staging  deployment JSON-SCHEMAS'

- task: M365CdnAssetsUpload@3
  inputs:
    SourcePath: '$(Build.Repository.LocalPath)\json-schemas\**'
    ConnectionType: 'ServiceConnection'
    AzureSubscription: 'Production_1CDN_Access'
    Environment: 'PublicCloud'
    ContainerName: 's01-content'
    AllLogsToConsole: true
